@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

:root {
  --primary: #e9ecf3;
  --primary-accent1: #fffffe;
  --primary-accent2: #ebf0f3;
  --primary-accent3: #8a8f99;

  --secondary: #1d1e22;

  --dominant: #413ef7;
  --dominant-accent1: #3432c6;
}
