@import './@main.css';

body {
  background: var(--primary);
}

.container {
  width: 1500px;
  padding: 15px;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
  flex-direction: column;
  background: var(--primary);
}

.container > .side-nav {
  padding: 24px 0px;
  color: var(--secondary);
}

.container > .content {
  width: 100%;
  padding: 25px;
  height: 100%;
  overflow: auto;
  border-radius: 24px;
  color: var(--secondary);
  background: var(--primary-accent1);
  filter: drop-shadow(0mm 4mm 4mm rgba(115, 115, 115, 0.15));
}

.container > .content::-webkit-scrollbar {
  width: 0px;
}

@media screen AND (max-width: 1500px) {
  .container {
    width: 100%;
  }
}
