@import './@main.css';

.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  max-width: 100%;
}

.navbar {
  width: 250px;
  background: var(--primary-accent2);
}

.content {
  flex: 1;
  padding: 25px;
  max-width: calc(100% - 250px);
}
