@import './@main.css';

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav > .drop,
.nav > .goto > button {
  height: 48px;
  border: none;
  display: flex;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0 12px;
  background: none;
  align-items: center;
  color: var(--secondary);
  text-transform: capitalize;
}
