@import './@main.css';

.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigation-bar > div {
  display: flex;
  align-items: center;
}

.links > ul {
  display: flex;
  list-style: none;
}

.links > ul > li {
  margin-right: 10px;
}

.links > ul > li > a {
  text-decoration: none;
  color: var(--secondary);
}

.links > ul > li > a:hover {
  text-decoration: none;
  color: var(--dominant-accent3);
}

.menu-toggler {
  position: relative;
}

.menu {
  border: none;
  width: 42px;
  height: 42px;
  outline: none;
  display: flex;
  cursor: pointer;
  font-size: 12px;
  font-family: 600;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  background: var(--dominant);
  color: var(--primary-accent1);
}

.menu:hover {
  background: var(--dominant-accent1);
}

.menu-drop {
  right: 0;
  z-index: 1;
  width: 250px;
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  background: var(--primary-accent1);
  filter: drop-shadow(0mm 4mm 4mm rgba(115, 115, 115, 0.15));
}

.display {
  display: none;
}

.profile {
  width: 100%;
  height: 42px;
  border: none;
  outline: none;
  display: flex;
  font-size: 14px;
  background: none;
  align-items: center;
  margin-bottom: 15px;
  justify-content: flex-start;
}

.profile > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 24px;
}

.logout {
  border: none;
  width: 100%;
  height: 36px;
  outline: none;
  display: flex;
  cursor: pointer;
  font-size: 12px;
  font-family: 600;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  background: var(--dominant);
  color: var(--primary-accent1);
}
